@model IEnumerable<Festispec.WebApplication.Models.Inspectieformulier>

<h2>Jouw opdrachten</h2>

<hr />

<div class="row">
    <form>
        <input id="zoekbalk" class="form-control" type="text" placeholder="Zoek opdrachtnaam" />
    </form>
</div>



<h2>Zoekresultaten</h2>

<table class="table">
    <tr>
        <th>
            Klant
        </th>
        <th>
            Locatie
        </th>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opdracht.Opdracht_naam)
        </td>
        <td>
            @*BING API GEBRUIKEN*@
            Locatie
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_inspectie)
        </td>
        <td>
            <button>
                @Html.ActionLink("Meer Info", "Details", new { id = item.InspectieformulierID })
            </button>
        </td>
    </tr>
}

</table>
