<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapsRESTToolkit" version="1.1.4" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="FluentValidation" version="8.5.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.16" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net472" />
  <package id="TidyHtml5Managed" version="1.1.0" targetFramework="net472" />
  <package id="Unofficial.Microsoft.mshtml" version="7.0.3300" targetFramework="net472" />
</packages>