@section Scripts{
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/locale/locale_nl.js" charset="utf-8"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            // initializing scheduler
            scheduler.config.header = [
                "date",
                "prev",
                "today",
                "next"
            ];
            scheduler.init("scheduler_here", new Date(), "month");
            scheduler.config.details_on_dblclick = true;
            scheduler.attachEvent("onBeforeDrag", function () { return false; })

            // responsive
            scheduler.config.responsive_lightbox = true;

            // initiating data loading
            scheduler.load("/api/availabilityapi");
            // initializing dataProcessor
            var dp = new dataProcessor("/api/availabilityapi");
            // and attaching it to scheduler
            dp.init(scheduler);
            // setting the REST mode for dataProcessor
            dp.setTransactionMode("REST");
        });

            var my_form = document.getElementById("my_form");

            scheduler.showLightbox = function (id) {
                var ev = scheduler.getEvent(id);
                scheduler.startLightbox(id, my_form);
                document.getElementById("description").value = ev.text;
            }

            function save_form() {
                var ev = scheduler.getEvent(scheduler.getState().lightbox_id);
                ev.text = document.getElementById("description").value;
                scheduler.endLightbox(true, my_form)
            }

            function close_form() {
                scheduler.endLightbox(false, my_form);
            }

    </script>
}

@section Style{
    <link href="~/Content/CSS Views/Availability.css" rel="stylesheet" />
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.js" rel="stylesheet"/>
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>
    <div id="info_box" class="col-md-3 col-xs-12">
        <img src="~/Content/Images/festispec logo.png" />
        <br />
        <label>Op deze pagina kunt u uw beschikbaarheid doorgeven. Gebruik de knoppen om door de kalender te navigeren. Selecteer een datum en bevestig de beschikbaarheid door op de knop 'opslaan' te drukken.</label>
    </div>
    <div id="my_form" aria-hidden="true">
        <label name="description" id="description">Beschikbaarheid</label>
        <br />
        <input type="button" name="save" value="Opslaan" onclick="save_form()" />
        <input type="button" name="close" value="Sluiten" onclick="close_form()" />
    </div>
    <div class="col-md-9 col-xs-12">
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:80vh;'>
        </div>
    </div>
</body>
</html>