
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
	<br />	<br />
			<div class="col-md-8 col-md-offset-2 error-text">
				<h1>Er is iets misgegaan...</h1>
				<h3>Navigeer terug naar de vorige pagina, of @Html.ActionLink("log opnieuw in.", "Login", "Credentials")</h3>
				<br />	<br />
				<img class="col-xs-12 col-md-12 col-lg-12" src="~/Content/Images/errores.jpg"/>
			</div>
	<br />	<br />

</body>
</html>
