body {
	background-image: url('Dashboard_background.png');
	background-clip: border-box;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	display: none;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border-radius: 25px;
	font-size: 16px;
	margin: 0 10px;

}

.question-container:hover {
	border-color: lightblue;
	border-style: solid;
	border-width: 1px;
}

.collapsible {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 8px 20px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	border-radius: 25px;
}

.collapsible:after {
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	background-color: white;
}

.collapsible-answered {
	background-color: mediumseagreen;
	color: white;
	cursor: pointer;
	padding: 8px 20px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	border-radius: 25px;
}

.collapsible-answered:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	background-color: mediumseagreen;
}

.active:after {
	content: "\2212";
}

.progress-container {
	margin: 20px;
}

.progress-container img {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 150px;
}

progress {
	position: absolute;
	width: 50%;
	top: 20px;
	height: 20px;
	background: none;
	right: 15px;
	border-radius: 15px;
	text-align: center;
}

progress::-webkit-progress-bar {
	height: 20px;
	background-color: #CCC;
	border-radius: 15px;
	box-shadow: 0px 0px 6px #777 inset;
}

progress::-webkit-progress-value {
	float: left;
	height: 20px;
	background: mediumseagreen;
	border-radius: 15px;
	box-shadow: 0px 0px 6px #777 inset;
}

.description-container {
	background-color: none;
	border-radius: 25px;
	padding: 0 0 10px 0;
}

.inspection-data img {
	position: absolute;
	right: 40px;
	top: 90px;
	width: 20%;
}

.inspection-info {
	background-color: white;
	border-radius: 10px;
	box-shadow:  0 0 20px #ccc;
}

.inspection-data {
	padding: 5px 20px 0 20px;
}

.question-container {
	background-color: white;
	border-radius: 25px;
	width: 100%;
	margin: 0 0 10px 0;
	box-shadow: 0 0 10px #ccc;
}

.question-container img{
	width: 100%;
}

.scale-question {
	width: 80%;
	display: inline-flex;
	position: relative;
	left: 5px;
	max-width: 80%;
}

.scale-option {
	font-size: 20px;
	display: inline;
	padding-right: 5%;
}


.answersave {
	position: absolute;
	margin: 20px;
	bottom: -5px;
	right: 10px;
	width: 25px;
}


