body {
	background-image: url("../Images/Dashboard_background.png");
	background-clip: border-box;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#info_box {
    padding: 5px;
    border: 2px solid grey;
    background-color: white;
}

#info_box img {
    max-height: 100%;
    max-width: 100%;
}