@section Style{
    <link href="~/Content/CSS Views/Planning.css" rel="stylesheet" />
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js" type="text/javascript"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_readonly.js" type="text/javascript"></script>
    <script src="~/Scripts/dhtmlxScheduler/locale/locale_nl.js" charset="utf-8"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            // initializing scheduler
            scheduler.config.header = [
                "date",
                "prev",
                "today",
                "next"
            ];
            scheduler.init("scheduler_here", new Date(), "month");

            // read only
            scheduler.config.readonly_form = true;
            scheduler.config.details_on_dblclick = true;
            scheduler.config.dblclick_create = false;
            scheduler.attachEvent("onBeforeDrag", function () { return false; })
            scheduler.attachEvent("onClick", function () { return false; })

            // responsive
            scheduler.config.responsive_lightbox = true;

            // initiating data loading
            scheduler.load("/api/planningapi");
            // initializing dataProcessor
            var dp = new dataProcessor("/api/planningapi");
            // and attaching it to scheduler
            dp.init(scheduler);
            // setting the REST mode for dataProcessor
            dp.setTransactionMode("REST");
        });
    </script>
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>
    <div id="info_box" class="col-md-3 col-xs-12">
        <img src="~/Content/Images/festispec logo.png" />
        <br />
        <br />
        <label>Op deze pagina kunt u uw persoonlijke planning bekijken. Gebruik de knoppen om door de kalender te navigeren.</label>
    </div>
    <div class="col-md-9 col-xs-12">
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:80vh;'>
        </div>
    </div>
</body>
</html>

