body 
{
    background: url("../Images/Dashboard_background.png");
	background-clip: border-box;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
}

.intro{
	margin: 10px;
}

.intro img
{
	width: 100%
}

.task img
{
	position: relative;
	width: 50px;
}



.task {
	position: relative;
	text-align: center;
	background-color: lightgrey;
	margin: 20px;
	line-height: 50px;
	min-height: 50px;
}


button {
	margin-right: 10px;
	border:none;
	background:none;
}

.upcoming {
	background-color: white;
	height: 350px;
	padding: 10px;
	margin: 10px;

}

.all-tasks 
{
    font-size: 1.4em;
	position: absolute;
	bottom: 5px;
}

.big-buttons 
{
	height: 20%;
	bottom: 0;
}

.big-buttons img
{
    width: 100%;
}